# Git
.git
.gitignore

# Maven
target/
!target/*.jar
.mvn/
mvnw
mvnw.cmd

# IDE
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Docker
.docker/
docker-compose*.yml
Dockerfile*

# Diğer
README.md
LICENSE
*.md 